@{
    ViewData["Title"] = "Hệ thống tin nhắn";
}

<div class="container">
    <div class="container-main">
        <div class="container-item">
            <button class="btn-block">
                <span class="material-symbols-outlined">
                    chat
                </span>
                <h1>
                    Gửi tin nhắn
                </h1>
            </button>
        </div>
        <div class="container-item">
            <button class="btn-block">
                <span class="material-symbols-outlined">
                    contacts
                </span>
                <h1>
                    Quản lý danh bạ
                </h1>
            </button>
        </div>
        <div class="container-item">
            <button class="btn-block">
                <span class="material-symbols-outlined">
                    group
                </span>
                <h1>
                    Quản lý nhóm
                </h1>
            </button>
        </div>
        <div class="container-item">
            <button class="btn-block">
                <span class="material-symbols-outlined">
                    share
                </span>
                <h1>
                    Phân nhóm
                </h1>
            </button>
        </div>
        <div class="container-item">
            <button class="btn-block">
                <span class="material-symbols-outlined">
                    lock
                </span>
                <h1>
                    Đổi mật khẩu
                </h1>
            </button>
        </div>
        <div class="container-item">
            <button class="btn-block">
                <span class="material-symbols-outlined">
                    logout
                </span>
                <h1>
                    Đăng xuất
                </h1>
            </button>
        </div>
    </div>
</div>
